<ion-header>
  <ion-toolbar>
    Update Product
    <ion-tab-button slot="start">
      <ion-back-button></ion-back-button>
    </ion-tab-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Name -->
  <form [formGroup]="myForm">
    <ion-item class="ion-margin">
      <ion-label position="stacked">Task description</ion-label>
      <ion-input
        formControlName="description"
        type="text"
        placeholder="Task description"
        [value]="task.description"
      ></ion-input>
    </ion-item>
  </form>

  <ion-button (click)="updateTask()"> Save Changes </ion-button>
</ion-content>
