<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Completed Tasks </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item-sliding *ngFor="let task of completed">
          <ion-item>
            <ion-label>{{task.tarea}}</ion-label>
          </ion-item>
          <!--Uncheck task -->
          <ion-item-options side="end" (ionSwipe)="uncheckTask(task)">
            <ion-item-option expandable color="warning">
              <ion-icon name="refresh-circle-outline"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>
